    {% extends 'blog/base.html' %}
    {%  block content %}

         <h2 class='mb-3'>Quotes</h2>
         <p style="font-size: 20px">In times of change, learners inherit the earth, while the learned find themselves beautifully equipped to deal with a world that no longer exists. <br> <strong> Eric Hoffer</strong></p> <hr>

         <p style="font-size: 20px"> The whole universe is change and life itself is but what you deem it.<br> <strong>Marcus Aurelius</strong></p> <hr>

         <p style="font-size: 20px">Soil that is dirty grows the countless things. Water that is clear has no fish. Thus as a mature person you properly include and retain a measure of grime. You can’t just go along enjoying your own private purity and restraint. <br><strong>Robert Aitken trans</strong></p> <hr>

         <p style="font-size: 20px">If people do not believe that mathematics is simple, it is only because they do not realize how complicated life is.<br> <strong>John von Neumann</strong></p> <hr>

         <p style="font-size: 20px">Enter their minds, and you’ll find the judges you’re so afraid of- and how judiciously they judge themselves.<br> <strong>Marcus Aurelius</strong></p> <hr>

         <p style="font-size: 20px">Modern man fell into the trap of believing that everything can be explained, that reality is a simple affair which has only to be organised in order to be mastered. <br><strong> Abraham Joshua Heschel</strong> </p>

         
         

    {% endblock content %}
   
